.box {
  background-color: #fff;
}

.box--flex {
  display: flex;
  flex-flow: column;
}

.box--flex .box-inner {
  display: flex;
  flex-grow: 1;
}

.box--has-border {
  border-bottom: 6px solid #34a5dd;
}

.box--has-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.box--bg-blue {
  color: #fff;
  background-color: #0d81bb;
}

.box--bg-light-blue {
  color: #2e4051;
  background-color: #72cffd;
}
