.meter {
  display: flex;
  align-items: center;
  position: relative;
}

.meter-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 26px;
  height: 9px;
  flex: 1;
  margin-right: 35px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.meter-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  background-color: transparent;
  border: none;
}

.meter-label {
  font-size: 18px;
  text-align: left;
  margin-bottom: 2px;
}

.meter-lable-value {
  font-size: 24px;
}

.star {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;

  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid transparent;
  border-left: 0.3em solid transparent;

  /* Controls the size of the stars. */
  font-size: 28px;
}

.star-before,
.star-after {
  display: block;
  width: 0;
  height: 0;

  position: absolute;
  top: 0.6em;
  left: -1em;

  border-right: 1em solid transparent;
  border-bottom: 0.7em solid transparent;
  border-left: 1em solid transparent;

  transform: rotate(-35deg);
}

.star-after {
  transform: rotate(35deg);
}

.meter-star {
  position: relative;
}

.meter-star-inner {
  position: absolute;
  z-index: 1;
  left: -1.2em;
  top: 0.22em;
  transform: scale(0.65);
}

.meter-star-wrap {
  position: absolute;
  right: 0;
}

/**
 * Large Modifier
 */
.meter--large .meter-bar {
  height: 26px;
  border-radius: 17px;
  border-width: 4px;
}

.meter--large .star {
  font-size: 68px;
}
