.typography {
  font-weight: 400;
}

.typography--weight-medium {
  font-weight: 500;
}

.typography--weight-bold {
  font-weight: 700;
}

.typography--weight-extra-bold {
  font-weight: 900;
}

.typography--variant-caps {
  text-transform: uppercase;
}

.typography--color-white {
  color: #fff;
}

.typography--color-blue {
  color: #72cffd;
}
